body{
  background-color:rgb(8, 51, 131);
}
*{
  box-sizing: border-box;
}

img{
  max-width: 100%;
  max-height: 100%;
}
.item{
  position: relative;
  /* width: 380px;*/
  height: 500px; 
  margin: 10px 10px;
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgb(16, 17, 16)

}
.item__image{
  height:85%;
  width:100%;
}
.item__image img{
  height: 100%;
  width:inherit;
}
.item__body{
  height:15%;
  width:inherit;
  font-size: 1.2em;
  text-align: center;
  padding: 10px;
  background-color:white;
}

.carousel{
  position:relative;
}
 
.carousel-container::after{
display: table;
clear: both;
content:'';
}

.carousel-container{
  /* comportement par défaut des transitions  */
  transition: transform 0.3s;
  /* sert à exempter mon translate 3d du comportement par défaut */
  transform: translate3d(0,0,0);
}

.carousel-item{
  float:left;
}

.carousel-next, .carousel-prev{
  
  position: absolute;
  width: 60px; 
  height: 60px; 
  color:black;
  background: #FFF url(../img/next.svg) center center no-repeat;
  background-size: 35px 35px;
  border-radius: 50%;
  top:50%;
  margin-top: -20px;
  right: -20px;
  box-shadow: 3px 3px 10px rgb(43.8%, 47.6%, 44.1%);
  transition: transform 0.5s;
}
.carousel-next:hover , .carousel-prev:hover{
  transform: scale(1.2);
}
.carousel-prev{
  left:-20px;
  right:auto;
  background-image: url(../img/back.svg);
}
.prevButton-hidden{
  opacity:0;
}
.nextButton-hidden{
  opacity:0;
}